
.Home{
  display:flex;
  height: 500%;
  background-repeat: no-repeat;
  background-size: cover;;
  background-image: url('./../images/HomeImage.jpg');
  margin-bottom: 0%;
  height: auto;
}   
.leftContaint{
    color:rgb(112, 10, 10);
    margin-left:150px;
    margin-top:10%;
    width:100%;
    height:400%;
    word-spacing: 5px;
}
.additional-text{
  color:black;
}
.other{
    border: 2px solid #ba0707;
    border-radius: 15px;
    box-sizing: border-box;
    color: #000000;
    width:20%;
}
.other:hover {
    color: #000000;
    background-color: #b01b1b;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   
  }
  
  .othe:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .button{
  
  appearance: none;
  background-color: transparent;

  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}